* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


html {
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
}


body {
    margin: 0;
    background-color: #e8f0f7
}

.container {
    width: 80%;
    margin: auto;
}

.header_content {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: ivory;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 8px 8px 8px 8px;

}

nav {
    height: 80px;
    Width: 100%;


}

.nav_list {
    display: flex;
    justify-content: right;
    column-gap: 50px;
    padding-right: 30px;

}

h1 {
    text-align: left;
    padding: 0 1rem 2rem 2rem;
}

#logo {
    height: 100%;
    width: auto;
    object-fit: contain;
    display: block;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 8px 8px 8px 8px;



}

main {
    padding: 1rem;
}

figure {
    margin: 0 1rem 1rem 0;
    display: flex;
    justify-content: space-between;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 80px;

}


li a {
    height: 80px;
    line-height: 80px;
    text-decoration: none;
    display: block;
}

.contact_list {
    height: 90%;
    padding: 1rem 1rem 1rem 1rem;
}

.li_item {
    padding-top: 1rem;
}

footer {
    margin: 0 1rem 1rem 1rem;
    text-align: right;
}
