* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


html {
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
}


body {
    margin: 0;
    background-color: #e8f0f7
}

.container {
    width: 80%;
    margin: auto;
}

.header_content {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: ivory;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 8px 8px 8px 8px;

}

nav {
    height: 80px;
    Width: 100%;


}

.nav_list {
    display: flex;
    justify-content: right;
    column-gap: 50px;
    padding-right: 30px;

}

#logo {
    height: 100%;
    width: auto;
    object-fit: contain;
    display: block;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 8px 8px 8px 8px;
}

h1 {
        text-align: center;
        padding-bottom: 2rem;
}

main {
    padding: 1rem;
}

figure {
    margin: 0 1rem 1rem 0;
}

figcaption {
    font-size: small;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 80px;



}

li {
    height: 80px;
    column-gap: 30px;




}

li a {
    height: 80px;
    line-height: 80px;
    text-decoration: none;
    display: block;
}

.products {
    display: flex;
}

h3 {
    visibility: hidden;
    height: 1px;
    width: 1px;
}

h2 {
    padding: 1rem 1rem 1rem 1rem;
}

section {
    display: flex;
    padding: 1rem 2rem 1rem 1rem;
    border: 2px solid floralwhite;
}

#plane {
    width: 80%;
    height: auto;
    justify-content: center;
     position: relative;
    left: 6rem;
}

.product_picture {
    height: 100%;
    width: 100%;
    border-radius: 8px 8px 8px 8px;
    border: 1px black solid;

}

footer {
    margin: 2rem 1rem 1rem 1rem;
}
