body {
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
}
nav {
    height: 50%;
    Width: 100%;
}

#logo {
    height: 20px;
    width: 30px;
}

#teltta {
    height: 40%;
    width: 80%;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}

